<?xml version="1.0"?>
<launch>

    <!-- Force Torque to Angular Velocity -->
    <node name="ft_to_vel" pkg="iris_cobot" type="ft_to_vel"/>

    <!-- Jacobian Conversion -->
    <node name="jacobian" pkg="iris_cobot" type="jacobian"/>

    <!-- Joint Velocity Controller -->
    <node name="joint_vel_cont" pkg="iris_cobot" type="joint_vel_cont"/>

</launch>