<?xml version="1.0"?>
<launch>

    <arg name="ursim"   default="false"/>

     <!-- IRIS UR10e without rviz -->
    <include unless="$(arg ursim)" file="$(find iris_ur10e)/launch/live.launch">
        <arg name="rviz" value="false"/>
    </include>
    <include if="$(arg ursim)" file="$(find iris_ur10e)/launch/ursim.launch">
        <arg name="rviz" value="false"/>
    </include>

    <!-- Custom RViz -->
    <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false"
        args="-d $(find iris_cobot)/launch/iris_cobot.rviz" output="screen">
        <rosparam command="load" file="$(find ur10e_moveit_config)/config/kinematics.yaml"/>
    </node>

    <!-- IRIS Sami GUI Launcher -->
    <include file="$(find iris_sami)/launch/iris_sami.launch"/>

    <!-- Wrench -->
    <!-- <include file="$(find iris_cobot)/launch/wrench.launch"/> -->

    <!-- Plotjuggler -->
    <node name="plotjuggler" pkg="plotjuggler" type="plotjuggler" 
        args="-l $(find iris_cobot)/curves/pj_layout.xml"/>

</launch>