[submodule "iris_ws/src/iris_sami"]
	path = iris_ws/src/iris_sami
	url = ../iris_sami.git
[submodule "iris_ws/src/iris_ur10e"]
	path = iris_ws/src/iris_ur10e
	url = ../iris_ur10e
[submodule "iris_ws/src/PlotJuggler"]
	path = iris_ws/src/PlotJuggler
	url = ../../facontidavide/PlotJuggler.git
[submodule "iris_ws/src/plotjuggler-ros-plugins"]
	path = iris_ws/src/plotjuggler-ros-plugins
	url = ../../PlotJuggler/plotjuggler-ros-plugins.git
[submodule "iris_ws/src/plotjuggler_msgs"]
	path = iris_ws/src/plotjuggler_msgs
	url = ../../PlotJuggler/plotjuggler_msgs.git
[submodule "new_ws/src/iris_sami"]
	path = new_ws/src/iris_sami
	url = ../iris_sami.git
[submodule "new_ws/src/PlotJuggler"]
	path = new_ws/src/PlotJuggler
	url = ../../facontidavide/PlotJuggler.git
[submodule "new_ws/src/plotjuggler-ros-plugins"]
	path = new_ws/src/plotjuggler-ros-plugins
	url = ../../PlotJuggler/plotjuggler-ros-plugins.git
[submodule "new_ws/src/plotjuggler_msgs"]
	path = new_ws/src/plotjuggler_msgs
	url = ../../PlotJuggler/plotjuggler_msgs.git
[submodule "new_ws/src/universal_robot"]
	path = new_ws/src/universal_robot
	url = ../universal_robot.git
[submodule "new_ws/src/Universal_Robots_ROS_Driver"]
	path = new_ws/src/Universal_Robots_ROS_Driver
	url = ../Universal_Robots_ROS_Driver.git
