[submodule "ros_ws/src/iris_sami"]
	path = ros_ws/src/iris_sami
	url = ../iris_sami.git
[submodule "ros_ws/src/stomp_ros"]
	path = ros_ws/src/stomp_ros
	url = ../../ros-industrial/stomp_ros.git
[submodule "ros_ws/src/universal_robot"]
	path = ros_ws/src/universal_robot
	url = ../universal_robot.git
[submodule "ros_ws/src/Universal_Robots_ROS_Driver"]
	path = ros_ws/src/Universal_Robots_ROS_Driver
	url = ../Universal_Robots_ROS_Driver.git
[submodule "ros_ws/src/velodyne_simulator"]
	path = ros_ws/src/velodyne_simulator
	url = https://bitbucket.org/DataspeedInc/velodyne_simulator.git
[submodule "ros_ws/src/ros_astra_camera"]
	path = ros_ws/src/ros_astra_camera
	url = https://github.com/orbbec/ros_astra_camera
[submodule "ros_ws/src/easy_handeye"]
	path = ros_ws/src/easy_handeye
	url = https://github.com/IFL-CAMP/easy_handeye
