<?xml version="1.0"?>
<launch>

    <arg name="ursim"   default="false"/>

     <!-- IRIS UR10e without rviz -->
    <include unless="$(arg ursim)" file="$(find iris_ur10e)/launch/live.launch">
        <arg name="rviz" value="false"/>
    </include>
    <include if="$(arg ursim)" file="$(find iris_ur10e)/launch/ursim.launch">
        <arg name="rviz" value="false"/>
    </include>

    <!-- rqt gui-->
    <!-- <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/> -->

    <!-- Custom RViz -->
    <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false"
        args="-d $(find iris_cobot)/launch/iris_cobot.rviz" output="screen">
    </node>

    <!-- IRIS Sami GUI Launcher -->
    <include file="$(find iris_sami)/launch/iris_sami.launch">
        <arg name="gui" value="true"/>
    </include>

    <!-- Hand Guiding -->
    <include file="$(find iris_cobot)/launch/hand_guiding.launch"/>

    <!-- Interaction -->
    <include file="$(find iris_cobot)/launch/interaction.launch"/>

    <!-- Obstacle Avoidance -->
    <include file="$(find iris_cobot)/launch/obstacle_avoidance.launch"/>

    <!-- Control -->
    <include file="$(find iris_cobot)/launch/control.launch"/>

    <!-- Plotjuggler -->
    <!-- <node name="plotjuggler" pkg="plotjuggler" type="plotjuggler" 
        args="-l $(find iris_cobot)/curves/pj_layout.xml"/> -->

    <!-- Dynamic Reconfigure -->
    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="configure_params" output="screen" respawn="true"/> 

</launch>