<?xml version="1.0"?>
<launch>

    <arg name="real"   default="true"/>

    <!-- Off-line trajectory -->
    <node pkg="iris_cobot" type="offline.py" name="offline" output="screen" respawn="true"/>

    <!-- Attraction Vector -->
    <node pkg="iris_cobot" type="attraction" name="attraction" output="screen" respawn="true"/>

    <!-- Turn on real camera and calibration (only in real scenario) -->
    <group if="$(arg real)">
        <include file="$(find openni_launch)/launch/openni.launch">
            <arg name="depth_registration"  value="true"/>
        </include>
        <include file="$(find iris_cobot)/launch/handeye_publish.launch"/>
    </group>

    <!-- Obstacle Spawner (only in gazebo) -->
    <group unless="$(arg real)">
        <node pkg="iris_cobot" type="spawn_obstacles.py" name="spawn_obstacles" output="screen" respawn="true"/>
    </group>

    <!-- Obstacle Detection -->
    <node pkg="iris_cobot" type="obstacle_detection" name="obstacle_detection" output="screen" respawn="true"/>

    <!-- Repulsion Vector -->
    <node pkg="iris_cobot" type="repulsion.py" name="repulsion" output="screen" respawn="true"/>

    <!-- Potential Field Controller -->
    <node pkg="iris_cobot" type="pf_controller.py" name="pf_controller" output="screen" respawn="true"/>

</launch>